.grid-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1rem;
}

.title {
  text-align: center;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, -2px 8px 8px rgba(206,89,55,0.56);
  color: #444444;
  background: #FFFFFF;
  margin-bottom: 30px;
}

.more-details {
  margin-left: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  background-color:#EFEFF1;
  border: 0.8px solid black;
  border-radius: 5px;

  &:hover {
    background-color: white;
    box-shadow: 0px 2px 14px 3px rgba(0,0,0,0.75);
    cursor: pointer;
  }
}

.beer-details {
  margin: 30px 10px;
  p {
  padding-left: 20px;
  }
}

.tagline {
  font-style: italic;
}

.back {
  padding: 5px 10px;
  color: black;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    color: rgb(105, 98, 98);
  }
}


.beer-name {
  padding-left: 20px;
}

img {
  max-width: 340px;
  max-height: 380px;
  padding: 0 0 10px 10px;
}
